<!DOCTYPE html>
<html class="width-v1">
<head>
<title>{% block title %} {{environment.header.title}} {% endblock %}</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript" src="/js/bundle.js"></script>
<style type="text/css">
body{
  margin: 0px;
  overflow: hidden;
}
</style>
</head>
<body>
{% block body %}
<div class="body box home">
	<div class="content">
		<div class="header">
			<div class="content">
				<h1>找不到網頁</h1>
				<div class="subtitle">
					 你正在檢視的頁面的內容還沒有設定，未能顯示。				
				</div>
			</div>
			<div class="bottom_bar">
				如果您認為這是由系統錯誤引起，請回報給管理人員以協助修復。
			</div>
		</div>
	</div>
</div>
{% endblock %}
</body>
</html>