{% extends "game/layout.twig" %} {% block title %} Game Main {% endblock %} {% block body %}
<div id="overlay">
<!-- 	<div class="overlay-center">
		<span style="font-size: 46px;">Start the game</span>
	</div>-->

</div>
<div id="canvas_container"></div>
{% endblock %}
