#modeSelect .title{
	position:absolute;
	margin-left:15%;
	width:100%;
	top:5%;
	height:40%;
	background-image:url(../../img/title.png);
	background-size:contain;
	background-repeat:no-repeat;
}

#modeSelect .background{
	position:absolute;
	top:55%;
	height:40%;
	width:100%;
}
#modeSelect .background>table{
	height:100%;
	width:60%;
	margin:auto;
}
#modeSelect .background .cHeight tr{
	height:33%;
	
}
#modeSelect .background .right{
	width:50%;
}
#modeSelect .background .right img{
	height:120%;
}
#modeSelect .background .right>div{
	position:relative;
	height:100%;
	width:100%;
	text-align:center;
	overflow:hidden;
}