#modeSelect .title{
	position:absolute;
	margin-left:15%;
	width:100%;
	top:5%;
	height:40%;
	background-image:url(../../img/title.png);
	background-size:contain;
	background-repeat:no-repeat;
}

#modeSelect .background{
	position:absolute;
	top:55%;
	height:40%;
	width:100%;
}
#modeSelect .background>table{
	height:100%;
	width:60%;
	margin:auto;
}
#modeSelect .background>table>tbody>tr>th{
	width:40%;
}
#modeSelect .background .left{
	position:relative;
	height:100%;
	width:100%;
}
#modeSelect .background .left td{
	text-align:left;
}
#modeSelect .background .left td img{
	height:100%;
}
#modeSelect .background .subLayer{
	width:70%;
}
#modeSelect .background .subLayer>div{
	position:relative;
	height:100%;
	width:100%;
	overflow-x:hidden;
	overflow-y:auto;
}

#modeSelect .background .subLayer>div>div{
	position:absolute;
	height:100%;
	width:100%;
}

#modeselect_rank img{
	height:100%;
	margin:auto;
	display:block;
}
#modeselect_speed_room table{
	height:100%;
	width:100%;
}
#modeselect_speed_room th{
	width:auto;
}
#modeselect_speed_room .roomBG{
	position:relative;
	height:100%;
	background-image:url(../../img/game/modeSelect/roomBG.png);
}
#modeselect_speed_room .room{
	position:relative;
	height:100%;
	width:100%;
	margin:5%;
	background-color:rgba(80,80,80,0.7);
}