#rank .title{
	position:absolute;
	margin-left:15%;
	width:100%;
	top:2%;
	height:13%;
	background-image:url(../../img/title.png);
	background-size:contain;
	background-repeat:no-repeat;
}

#rank .background{
	position:absolute;
	top:15%;
	height:85%;
	width:100%;
}
#rank .background .back{
	position:absolute;
	bottom:3%;
	height:7%;
	right:5%;
}
#rank .background>table{
	height:100%;
	width:100%;
	vertical-align:middle;
}
#rank .background>table .setSize{
	height:95%;
	width:85%;
	margin:auto;
	overflow:auto;
}
#rank .stat{
	float:left;
	height:99%;
	width:33%;
}
#rank .stat .halfHeight{
	float:left;
	height:50%;
	width:100%;
}